@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(nat-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 50vh;
  font-family: "Poppins", sans-serif;
}

/*header start*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(24, 24, 27, 0.6);
  height: 5rem;
  padding: 0 2rem;
}

.logo {
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

/**************************/
/* NAVIGATION */
/**************************/
.main-nav {
  font-size: 1.6rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6ac2a4;
}
.mychart {
  width: 200px;
  height: 200px;
}
.container {
  max-width: 120rem;
  padding: 20px 70px;
  color: #fff;
}
.btn {
  text-align: center;
  font-size: 20px;
  padding: 1rem 2rem;
  margin-bottom: 2.5rem;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
